node_modules
.env
todo.txt
done.txt
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
a.txt

txt

dynasty-ud-firebase-adminsdk-fx1y8-233d8070a9.json